.kanban-board {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 1.5rem;
    align-items: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.kanban-category {
    background-color: rgba(0, 0, 0, 0.075);
    flex: initial;
    max-width: 320px;
    min-width: 320px;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.kanban-category-header {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.kanban-note {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    border-left: 0.3rem solid rgba(0, 60, 255, 0.7);
}

.tag-label {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
    vertical-align: baseline;
    border-radius: 0.375rem;
    margin-right: 0.5rem;
    background-color: #d9e6f3;
    color: #427fc1;
}